*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.vrb
*.synctex.gz
*.toc
.*~
_minted-presentation/
*.zip
.*.un~
.vagrant/

dashboard.out

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf 
